/* Created by Artisteer v4.1.0.59861 */

.swa-header, #swa-header-bg, .swa-layout-cell, .swa-layout-wrapper, .swa-footer, .swa-nav, #swa-hmenu-bg, .swa-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.swa-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.swa-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#swa-header-bg 
{
   display: none;
}

.swa-hmenu>li, .swa-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.swa-hmenu, ul.swa-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#swa-hmenu-bg 
{
   display: none;
}

ul.swa-hmenu>li:first-child {
   padding-right:11px;
}
ul.swa-hmenu>li{
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='swa-hmenu-separator');
}
ul.swa-hmenu>li>span.swa-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -11px;
   width: 11px;
   height: 32px;
   background: url('../images/menuseparator.png') center center no-repeat;
}
ul.swa-hmenu>li:first-child>span.swa-hmenu-separator
{
   display:none;
}

ul.swa-hmenu ul, .desktop-nav ul.swa-hmenu>li.ext:hover>a{
   background-color: #206297 !important;
}

.swa-content-layout, .swa-content-layout-row, .swa-layout-cell 
{
   display: block;
   zoom: 1;
}
.swa-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.swa-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.swa-search div>input[type="text"]
{
   width: 100%;
}

* html form.swa-search>input[type="text"] 
{
   margin :0;
}

.swa-postmetadataheader{
   zoom:1;
}

.swa-postheadericons span{
   zoom: 1;
}
.swa-postcontent {
   height: 1%;
}

.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.swa-content 
{
   width: auto;
   float:none;
}

