/*
 * SWA Header Less file
 * To compile, see http://lesscss.org/
 *
 * Author: Chris Watts
 * Date 05/10/2015
 */

@import "variables.less";

.swa-header {
	width: 100%;
}
 
.swa-top-nav {
	background-color: rgba(0,0,0,0.92);
}

.swa-hmenu {
}

.swa-spotlight {
	max-height: @slider-height;
	overflow: hidden;
	
	img {
		width: 100%;
	}
}