/*
 * SWA Less variables file.
 * Modify Bootstrap or site variables here!
 * To compile, see http://lesscss.org/
 *
 * Author: Chris Watts
 * Date 05/10/2015
 */

@import "../bootstrap/variables.less";

/* Colours */
@brand-primary: #0c7edc;
@brand-dark: darken(@brand-primary, 20%);

/* Header */
@navbar-height: 70px;
@slider-height: 50vw;
@slider-max-height: 65vh;

/* Footer */
@footer-height: 200px;